  .image-container {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 1500px;
    margin: 0 auto;
  }

  .circle-image {
    width: 80%;
    height: auto;
  }

  .phone-image {
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translateX(-35%);
    width: 100%;
    height: auto;
    z-index: 1;
  }

  @media (min-width: 1095px) {
    .phone-image {
        min-width: 800px;
    }
  }

  @media (min-width: 730px) and (max-width: 1095px) {
    .phone-image {
        min-width: 700px;
    }
  }