<!-- desktop view -->
<div class="hide-on-mobile main-container d-flex">
    <!-- login component -->
    <div class="d-flex justify-content-center align-items-center login">
      <div class="align-items-center m-5">
        <app-login-card></app-login-card>
      </div>
    </div>

    <!-- financing text -->
    <div class="d-flex justify-content-center align-items-center finance">
      <div class="align-items-center m-3">
        <app-flexible-financing-overview></app-flexible-financing-overview>
      </div>
    </div>

    <!-- desktop and logo circle image -->
      <div class="d-flex flex-column justify-content-between align-items-end desktop">
        <app-laptop-image></app-laptop-image>
        <img src="/assets/chat.png" alt="desktop and phone image" class="chat-image">
    </div>
</div>

<!-- small screen view -->
<div class="show-on-mobile">
    <app-login-form></app-login-form>
    <div class="privacy-text text-center">
      <mat-icon>lock</mat-icon>
      <span class="text-center">Your security is our privacy</span>
  </div>
</div>
